* {
  box-sizing: border-box;
}

body {
  font-family: 'Courier New', Courier, monospace;
  background: #ade1e5;
  margin: 0px;
  padding: 0 1rem;
}

.card-table {
  margin: 1rem 0;
  background-color: whitesmoke;
}
