.card {
  --normal-color: #b6b6a8;
  --fire-color: #ff6043;
  --water-color: #51a8ff;
  --electric-color: #ffd351;
  --grass-color: #8bd36e;
  --ice-color: #7dd3ff;
  --fighting-color: #c56e60;
  --poison-color: #b66ea8;
  --ground-color: #e2c56e;
  --flying-color: #9aa8ff;
  --psychic-color: #ff6ea8;
  --bug-color: #b6c543;
  --rock-color: #c5b67d;
  --ghost-color: #7d7dc5;
  --dragon-color: #8b7df0;
  --dark-color: #8b6e60;
  --steel-color: #b6b6c5;
  --fairy-color: #f0a8f0;
}

.card {
  font-family: "Joti One";
  border: 8px solid #ecbb2b;
  border-radius: 10px;
  padding: 15px;

  * {
    margin: 0 auto;
  }
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: black;
  text-transform: capitalize;
}

.card-image-container {
  background: radial-gradient(rgb(210, 210, 210), whitesmoke);
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card:hover {
  cursor: pointer;
  outline: 4px solid black;
}

/* Pokemon type colours: */
.type-normal {
  background: radial-gradient(white, var(--normal-color));
}
.type-fire {
  background: radial-gradient(white, var(--fire-color));
}
.type-water {
  background: radial-gradient(white, var(--water-color));
}
.type-electric {
  background: radial-gradient(white, var(--electric-color));
}
.type-grass {
  background: radial-gradient(white, var(--grass-color));
}
.type-ice {
  background: radial-gradient(white, var(--ice-color));
}
.type-fighting {
  background: radial-gradient(white, var(--fighting-color));
}
.type-poison {
  background: radial-gradient(white, var(--poison-color));
}
.type-ground {
  background: radial-gradient(white, var(--ground-color));
}
.type-flying {
  background: radial-gradient(white, var(--flying-color));
}
.type-psychic {
  background: radial-gradient(white, var(--psychic-color));
}
.type-bug {
  background: radial-gradient(white, var(--bug-color));
}
.type-rock {
  background: radial-gradient(white, var(--rock-color));
}
.type-ghost {
  background: radial-gradient(white, var(--ghost-color));
}
.type-dragon {
  background: radial-gradient(white, var(--dragon-color));
}
.type-dark {
  background: radial-gradient(white, var(--dark-color));
}
.type-steel {
  background: radial-gradient(white, var(--steel-color));
}
.type-fairy {
  background: radial-gradient(white, var(--fairy-color));
}
