.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 16px solid #ecbb2b;
  border-bottom: 16px solid #ecbb2b;
  border-left: 12px solid #ecbb2b;
  border-right: 12px solid #ecbb2b;
  margin: 20px;
  width: 15%;
  border-radius: 10px;
  background: radial-gradient(#499cc0, #a6dce7);
}

.card-title {
  font-size: clamp(12px, 20px, 24px);
  font-weight: bold;
  color: black;
  text-transform: capitalize;
}

.card-image {
  width: 100%;
}

.card-image-container {
  background: radial-gradient(rgb(210, 210, 210), whitesmoke);
  /* background: white; */
  width: 50%;
  height: 80%;
  margin-bottom: 30px;
  border: 2px solid black;
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.card:hover {
  cursor: pointer;
  outline: 5px solid black;
}
