.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 998;

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;

  z-index: 999;
  width: 80vmin;
  height: 80vmin;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  padding: 10% 0;
}

.end-list-container {
  overflow: auto;
}
